@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    font-family: 'Dosis', sans-serif;
    background-color: rgb(35, 37, 43);
}

.button-box {
    display: flex;
    align-content: space-between;
}

.button {
    font-family: 'Rubik', sans-serif;
    padding: 6px 18px;
    margin: 25px;
    color: white;
    background-color: rgb(85, 111, 119);
    border: solid 6px rgb(255, 255, 255);
    border-radius: 16px;
}

.button:hover {
    background-color: rgb(134, 57, 57);
    cursor: pointer;
}

.chrono {
    width: 280px;
    font-size: 3rem;
    font-weight: bold;
    padding: 16px;
    color: rgb(255, 255, 255);
    border: solid 10px rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(43, 58, 70);
}
